/*Fuentes de letras*/
.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.encabezado{
    background-color: lightblue;
    padding:4rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.encabezad1{
    margin-top: -3rem;
    letter-spacing: 0.5rem;
    display: flex;
    align-items: center;
}

.encabezad1 h1{
   text-decoration: underline
}