/*Fuentes de letras*/
.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.encabezado{
    background-color: lightblue;
    padding:4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url(imagenes/Portada_del_juego.webp);
    background-size: cover;
}
.encabezad1{
    margin-top: -3rem;
    letter-spacing: 0.5rem;
    display: flex;
    align-items: center;

}

.encabezad1 h1{
   text-decoration: underline;
   text-shadow: 2px 2px 3x #ece4e4;
}
.encabezad1:hover{
    color: darkblue;
    cursor: pointer;
}