html, body {
  height: 100%;
  margin: 0;
}

#inicio {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 400vh;
}
main {
  flex: 1;
}
/*Fuentes de letras*/
.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.encabezado{
    background-color: lightblue;
    padding:5rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}
.encabezad1{
    margin-top: -3rem;
    letter-spacing: 0.5rem;
    display: flex;
    align-items: center;

}

.encabezad1 h1{
   text-decoration: underline;
   text-shadow: 2px 2px 9px #ece4e4;
}
.encabezad1:hover{
    color: darkblue;
    cursor: pointer;
}
nav a{
    margin: 0 6rem;
    text-decoration: underline;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

.hero{
    padding: 2rem;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
    background-color: #d6cdcd;
    display: contents;
    text-align: center;
}
.hero div{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 2rem 1rem;
}

.imagen{
    filter: brightness(100%);
}
.imagen:hover{
    margin-top: 6rem;
    filter: brightness(170%);
    cursor: pointer;
    scale: calc(1.2);
}

.vectorial {
  text-align: center;
}

.dado {
  width: 120px;
  fill: none;
  stroke: rgb(16, 16, 16);
  stroke-width: 4;
  animation: girar 3s linear infinite;
}

@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}




/*Parte final con copyright y iconos para todas las páginas*/
.footer {
  background-color: #111;
  padding: 20px;
}

.footer-right {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.social-icons a {
  color: white;
  font-size: 28px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #00ff88;
  transform: scale(1.2);
}

.copyright {
  color: #aaa;
  font-size: 14px;
}

/*Relleno primera parte de la página*/
#historia {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 200vh;
}
/*Relleno segunda parte de la página*/
#galeria {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 200vh;
}
/*Relleno tercera parte de la página*/
#contacto {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 200vh;
}
/*Relleno cuarta parte de la página*/
#personajes {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 200vh;
}


